.createPost {
  background-color: white;
}

.postAction {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-weight: 500;
  color: #4e5d78;
  position: relative;
  cursor: pointer;
}

.fileUpload {
  opacity: 0;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape or and older firefox browsers */
  -moz-opacity: 0;

  /* older Safari browsers */
  -khtml-opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.postAction span {
  margin: 0px 2px 0px 2px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleSubText {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
  font-weight: 400;
  margin-right: 15px;
}
