.sidebar {
  margin: 0px;
  padding: 0;
  width: 200px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  align-items: center;
  z-index: 99;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 5px;
}

.sidebar a.active {
  background-color: #4e5d78;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #4e5d784d;
  color: black;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
