.profileImage {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
.textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #f6f7f8;
  margin-left: 5px;
}
.textarea:focus {
  border: none;
  box-shadow: none;
}
.icon {
  font-size: 20px;
  cursor: pointer;
}
