.customContainer {
  margin-left: 200px;
  padding: 15px;
  background: light;
}

/* @media screen and (max-width: 765px) {
  .customContainer{
    margin-left: 0px;
  }
} */

@media screen and (max-width: 480px) {
  .customContainer{
    margin-left: 0px;
  }

  .customContainer {
  margin-left: 0px;
  padding: 10px;
  }
}

@media screen and (max-width: 765px) {
  .customContainer{
    margin-left: 0px;
  }

  .customContainer {
  margin-left: 0px;
  padding: 10px;
  }
}