.navbar {
  position: sticky;
  background-color: #eae2e2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  top: 0;  
}

.navbar_logo {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px
}

.md_list_icon{
  margin-left: -120px;
  font-size: 28px;
  margin-top: -8px;
}

.navbar_search {
  width: 50%;
  margin-bottom: 6px;
  margin-top: 6px;
}

.navbar_search_icon {
  position: absolute;
  top: 1px;
  font-size: 20px;
}

.navbar_dropdown {
  z-index: 1000;
  float: left;
  padding: 2px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff; /* here */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 4px;
  margin-right: 10px;
}

@media screen and (max-width: 765px) {
  .md_list_icon{
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .customContainer{
    margin-left: 0px;
  }
}
