.post {
  background-color: white;
}

.post_head svg {
  font-size: 20px;
  color: rgb(97, 97, 97);
}

.post_content {
  color: #7e7d7d;
  font-weight: 600;
  margin-bottom: 15px;
  white-space: pre-wrap;
}

.image_grid {
  height: 500px;
}

.image_grid_two_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarGroup {
  color: gray;
  font-weight: 500;
  height: 38px;
}
.avatarGroup div {
  display: flex;
}
.postAction {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #4e5d78;
  font-size: medium;
}

.commentsSend {
  color: blue;
  font-size: 20px;
}
