.light_button {
  background-color: #f4f0f0;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin: 0px !important; 
  width: 49% !important;
  border-radius: 6px;
  }
