.auth_box {
  width: 30%;
  height: 80%;
  background-color: #fff;
  color: #4e5d78;
  font-weight: 500;
}
.auth_box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth_box_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth_box_head h1 {
  font-weight: bold;
}

.auth_box_head span {
  font-size: 1.25rem;
}
.auth_box_button {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 40px;
}

.auth_box_divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #4e5d78;
  line-height: 0.1em;
  margin: 50px 0 40px;
}

.auth_box_divider span {
  background: #fff;
  padding: 0 10px;
  font-size: large;
}

.form button {
  width: 100%;
}

.auth_box_form_footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 20px 5px;
  align-content: center;
}
.auth_box_form_footer a {
  text-decoration: none;
}
