.createPost {
  background-color: white;
}
.createPost div {
  margin: 2px 2px 2px 2px;
  padding: 1px 1px 1px 1px;
  /* border: solid 2px; */
}

.profileImage {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
.textarea {
  height: 9vh;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #f6f7f8;
  margin-left: 5px;
}

.textarea :focus {
  border: none;
}

.postAction {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-weight: 500;
  color: #4e5d78;
}

.postAction span {
  margin: 0px 2px 0px 2px;
}
